[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/compview"]
	path = vim/bundle/compview
	url = git://github.com/vim-scripts/compview.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/debugger"]
	path = vim/bundle/debugger
	url = git://github.com/sumpygump/vim-php-debugger.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = git://github.com/rson/vim-conque.git
    ignore = dirty
[submodule "vim/bundle/hjkl"]
	path = vim/bundle/hjkl
	url = git://github.com/vim-scripts/HJKL.git
[submodule "vim/bundle/php-documentor"]
	path = vim/bundle/php-documentor
	url = git://github.com/sumpygump/php-documentor-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git://github.com/thisivan/vim-bufexplorer.git
[submodule "vim/bundle/ack-vim"]
	path = vim/bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
